<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ThreeD_Parallax_1">
        <wb-resource deploy-path="/" source-path="/webapp-src" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="ThreeD_Parallax_1"/>
        <property name="java-output-path" value="/ThreeD_Parallax_1/build/WEB-INF/classes"/>
    </wb-module>
</project-modules>
